h1{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 40px;
   
    
}

.alignleft { 
    float: left; padding: 25px 15px 15px 0; 

}

main{
    border: 150px solid rgba(230, 227, 227, 0.651);
    width: 900px;
    height: 1000px;
    margin: auto;
    border-radius: 10px;
    line-height: 18px;
    
}

#button_blue{
    background-color:deepskyblue;
    color:white;
    border: 1px solid white;
    border-radius: 6px;
    margin-left:30px;
    margin-top:10px;

}


#button_grey{
    background-color:white;
    color:lightgray;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-left:0.1px;
    margin-top:10px;
    

}




h3{
    margin-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

div{
    margin-left: 30px;
}
p{
    position: relative; bottom:45px;
    margin-left:30px;
    font-family: Arial,sans-serif;
    
    
} 

.cerchio1{
    font-size: 40px;
    color: rgb(107, 180, 148);
    
}

.spunta{
    position: relative; right:17px; bottom:5px;
    font-size: 15px;
    color:rgb(107, 180, 148);
 
}

#editorial{
    background-color: deepskyblue;
    border: 6px solid deepskyblue;
    border-radius: 15px;
    color:white;
    position: relative; left:5px;
}


#goals{
    background-color: rgb(144, 98, 197);
    border: 6px solid rgb(144, 98, 197);
    border-radius: 15px;
    color:white;
    position: relative; left:5px;
}

.cerchio2{
    font-size: 40px;
    color:rgb(197, 58, 58);
    
}

.spunta2{
    position: relative; right:17px; bottom:5px;
    font-size: 15px;
    color:rgb(197, 58, 58);
}
 

#recruiting{
    background-color:rgb(107, 180, 148);
    border: 6px solid rgb(107, 180, 148);
    border-radius: 15px;
    color:white;
    position: relative; left:5px;

}


#mobile{
    background-color: rgb(214, 137, 35);
    border: 6px solid rgba(218, 130, 15, 0.911);
    border-radius: 15px;
    color:white;
    position: relative; left:5px;

}


#website{
    background-color: rgb(204, 68, 131);
    border: 6px solid rgb(204, 68, 131);
    border-radius: 15px;
    color:white;
    position: relative; left:5px;

}

#sales{
    background-color:  rgba(182, 216, 31, 0.911);
    border: 6px solid  rgba(182, 216, 31, 0.911);
    border-radius: 15px;
    color:white;
    position: relative; left:5px;
    
}